div.hidden { display: none; }
body { margin: 0px; padding: 0px; }
#controls { margin-left: 3px; margin-bottom: 3px; }
#listingwrap { display: table; border: 2px solid black; margin-left: 3px; }
#listingsheader { display: table-header-group; font-weight: bold; }
#listingsheaderrow { display: table-row; }
#listingsheaderrow div  { display: table-cell; border-bottom: 2px solid black; } 
#listings { display: table-row-group; }
.mod:nth-child(even) { background-color: grey; }
.mod { display: table-row; }
.mod div { display: table-cell; padding: 2px;}

#modviewer { margin-left: 3px; }
#modviewer div { margin: 5px; }